tema0-hello-world/.vs/
tema0-hello-world/tema0/Debug/
tema0-hello-world/tema0/.vs/
tema0-hello-world/tema0/x64/
*.user
tema1-identif-senzori/x64/
tema1-identif-senzori/.vs/
*.filters
tema2-read-highest-temp/.vs/
tema2-read-highest-temp/x64/
tema0-hello-world/x64/
tema3-std-vector/.vs/
tema3-std-vector/Debug/
tema4-read-and-process-multiple-files/.vs/
tema4-read-and-process-multiple-files/Debug/
tema4-read-and-process-multiple-files/x64/
